*{
    padding: 0;
    margin: 0;
    outline: 0;
}

.container{
    font-family: 'orbitron';
    height: 100vh;
}

/* navbar section */

.navbar-container{
    width: 1750px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    left: 100px;
}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 26px;
    font-weight: 600;
    position: relative;
    top: 20px;
}  

.list-item{
    margin-right: 60px;
}

.button-group{
    width: 300px;
    height: 100px;
    display: inline-flex;
    flex-direction: row;
  
    
}

.search-icon{
    margin-right: 20px;
    position: relative;
    top: 15px;

}

.nav-button{
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'poppins';
    color: #494949;
    border: 3px solid #000000;
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    top: -70px;
    } 

/*  Hero Banner Section  */

.hero-container{
    height: 80vh;
    width: 1700px;
    display: flex;
    position: relative;
    top: 200px;
    left: 100px;
}

.square{
    position: absolute;
    top: 370px;
    left: 210px;
    z-index: 2px;

}

.globe{
    position: absolute;
    left: 850px;
}

.star{
    position: absolute;
    top: 50px;
    left: 1600px;
}

.star2{
    position: absolute;
    top: 680px;
    left: 720px;
}

span.star2 > img {
    height: 55px;
    width: 55px;
    
}
div>div>img{
    position: absolute;
    left: 0;
    top: 40px;
}
.hero-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1050px;
    position: relative;
    left: 650px;
    text-align: center;
}

.hero-heading{
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.hero-description{
    font-family: 'poppins';
    font-size: 18px;
    width: 800px;
    margin-left: 100px;
}

div>div>button{
    margin-top: 80px;
    margin-bottom: 15px;
}

.button-email{
    width: 250px;
    height: 40px;
    background-color: transparent;
    color: #494949;
    border-radius: 10px;
    font-family: 'orbitron';
    font-size: 24px;
    font-weight: 500;
    margin-right: 15px;
}

.button-join{
    width: 150px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'orbitron';
    font-size: 24px;
    font-weight: 500;

}
.contact-heading{
    font-family: 'poppins';
    color: #494949;
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 15px;
}

div.icons>span>img{
 margin-right: 15px;
}